<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Dispositivo</title>

    <!-- Bootstrap CSS -->    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />    
    <!-- Custom styles -->
    <link href="/css/style_admin.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->
  </head>

  <body>
  <span id="device_id" hidden="true"><%= id %></span>


  <!-- container section start -->
  <section id="container" class="">

      <!--main content start-->      
      <section id="main-content">
        <section class="wrapper">
		<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="icon_piechart"></i> <%= name %> </h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="/">Home</a></li>
						<li><i class="icon_piechart"></i>Chart</li>
						
					</ol>
				</div>
			</div>
      <div class="row">
          <div class="col-md-4 col-xs-12 btn-spaced" id="template" hidden="true">
              <button class="btn btn-success btn-block col-xs-10 col-xs-offset-1">Label</button>
          </div>
          <div class="col-xs-10 col-xs-offset-1" id="buttons">
            
          </div>

          <br><br>
          <div class="panel-body col-xs-12">
            <div class="panel panel-primary">
              <div class="panel-heading"><%= name %></div>
              <div class="panel-content name"></div>
              <div class="panel-content">Min: <span class="min">min</span></div>
              <div class="panel-content">Max: <span class="max">max</span></div>
              <div class="panel-content">Average: <span class="avg">avg</span></div>
              <div class="panel-content">Last recorded: <span class="last">last</span></div>
            </div>          
          </div>

            <!-- chart morris start -->
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <h3>Last data Chart</Char>
                    </header>
                    <div class="panel-body">
                      <div class="tab-pane" id="chartjs">
                    <div class="row">
                        <!-- Line -->
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Line
                                </header>
                                <div class="panel-body text-center">
                                    <canvas id="line" height="300" width="500"></canvas>
                                </div>
                            </section>
                        </div>                                             
                    </div>
                
                    
                </div>
                    </div>
                    </div>
                  </section>
            </div>
            <!-- chart morris start -->
          </div>
    </section>
    <!--main content end-->
    </section>
    <!-- container section end -->
    <!-- javascripts -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- chartjs -->
    <script src="/assets/chart-master/Chart.js"></script>
    <!-- custom chart script for this page only-->
    <script src="/js/chartjs-custom.js"></script>
    <!--custome script for all page-->
    <script src="/js/scripts.js"></script>

    <script type="text/javascript">

      function loadDataFromLabel(){
        var value = $(this).html();
        $.get( 'http://' + window.location.hostname + ":8081/api/device/" + $('#device_id').html() +    "/" + value + "/statistic" ,
        function( data ) {
          $('.name').html(value);
          $.each(data, function(index, value){
            $('.' + index ).html(value);
          });
        });

        $.get( 'http://' + window.location.hostname + ":8081/api/device/" + $('#device_id').html() +    "/" + value + "/last?ammount=50" ,
        function( data ) {
          var labels = [];
          var cdata  = [];
          $.each(data, function(index, value){
            labels.push(value.date.toString());
            cdata.push(value.numericValue);
          });

          var lineChartData = {
          labels : labels,
          datasets : [
              {
                  fillColor : "rgba(255,0,0,0.5)",
                  strokeColor : "rgba(220,220,220,1)",
                  pointColor : "rgba(220,220,220,1)",
                  pointStrokeColor : "#fff",
                  data : cdata
              }
          ]

          };
    
          new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
        });

      }

      $.get( 'http://' + window.location.hostname + ":8081/api/device/" + $('#device_id').html(),
      
      function( data ) {
        $('#buttons').html('');
        $(data).each(function(index, value){
          var t = $('#template').clone().removeAttr('id').removeAttr('hidden');
          t.find('button').html(value);
          $('#buttons').append(t);
        });
        $('button').click(loadDataFromLabel);
      });
    </script>

  </body>
</html>
